.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 70px;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  text-shadow: 8px 8px 20px rgba(0, 91, 151, 0.185);
}
.title {
  width: 50%;
  z-index: 2;
}
.Dalle {
  color: rgb(0, 89, 255);
  text-shadow: 8px 8px 20px rgba(0, 91, 151, 0.185);
}
.input {
  padding: 16px;
  height: 16px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgba(255, 255, 255, 0.397);
  border-radius: 6px;
  width: 600px;
  box-shadow: 0px 0px 30px rgba(0, 89, 255, 0.301);
  font-family: monospace;
  transition: 300ms;
  margin-left: -200px;
}

.input::placeholder {
  color: rgb(61, 84, 104);
}

.input:focus {
  box-shadow: 10px 10px 0px 0px rgb(0, 89, 255);
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button {
  position: absolute;
  font-size: 32px;
  padding: 4px 64px 4px 64px;
  background-color: rgb(0, 89, 255);
  border-radius: 6px;
  color: white;
  user-select: none;
  cursor: pointer;
  transition: 250ms;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
  right: -200px;

}

.button:hover {
  border-radius: 128px;
  transform: rotate(10deg);
  padding: 64px;
  right: -200px;
}

.Replit {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: monospace;
  margin-top: 72px;
}
.Alchemy {
  margin-left: 10px;
  width: 96px;
}

.nft {
  border-radius: 8px;
  transition: 300ms;
  user-select: none;
  cursor: pointer;
}

.loading {
  display: flex;
}
.imgs {
  display: flex;
}

.nftContainer {
  display: flex;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  margin: 64px 8px;
  border: solid 3px transparent;
}
.nftContainer > ion-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 64px;
}

.nftContainer:hover {
  border: solid 3px white;
  box-shadow: 0px 0px 50px rgba(0, 48, 90, 0.336);
}

.mintNFT {
  background-color: rgb(0, 192, 74);
  padding: 8px 128px 8px 128px;
  border-radius: 8px;
  color: white;
  user-select: none;
  cursor: pointer;
  font-size: 28px;
}

.loadimg {
  width: 256px;
  height: 256px;
  margin: 64px 8px;
  background-color: rgba(39, 82, 121, 0.192);
  border-radius: 8px;
  animation: loading 1s linear infinite
}

@keyframes loading {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}


.example {
  border-radius: 8px;
  height: 256px;
  margin: 10px;
    border: solid 3px rgba(0, 64, 138, 0.26);
      box-shadow: 10px 10px 20px rgba(0, 57, 121, 0.329);
}
.example1 {
  border-radius: 8px;
  height:256px;
  margin: 10px;
    border: solid 3px rgba(0, 64, 138, 0.26);
      box-shadow: 10px 10px 20px rgba(0, 57, 121, 0.329);
}
.example2 {
  border-radius: 8px;
  height: 256px;
  margin: 10px;
    border: solid 3px rgba(0, 64, 138, 0.26);
      box-shadow: 10px 10px 20px rgba(0, 57, 121, 0.329);
}
.example3 {
  border-radius: 8px;
  height: 256px;
  margin: 10px;
  border: solid 3px rgba(0, 64, 138, 0.26);
  box-shadow: 10px 10px 20px rgba(0, 57, 121, 0.329);
  opacity: 95%;
}
.examples {
  display: flex;
  align-items: center;
    transform:
        perspective(12cm) rotateY(-24deg) scale(0.5);
  margin-top: -180px;
  margin-left: 120px
}

.wallet {
  font-family: "Roboto";
  font-size: 16px;
  background-color: rgb(0, 89, 255);
  padding: 16px;
  border-radius: 8px;
  color: white;
  user-select: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 30%;
}


.minted {
  margin: -32px 64px 64px 64px;
  display: flex;
  justify-content: flex-start;
  padding: 0px 64px 0px 64px;
  flex-wrap: wrap;
}

.mintedNFT {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.233);
  margin: 16px;

  max-width: min-content;
  height: fit-content;
}

.link {
  color: rgb(0, 120, 189);
  margin: 8px;
}

.image {
  border-radius: 8px;
  margin: 0px;
}
.name {
  margin: 8px;
  color: black;
  text-decoration: none;

}
.description {
  margin: 8px;
  font-family: "Inter";
  color: rgb(71, 101, 141);
  font-size: 18px;
}

.mintedNFT > Link > ion-icon {
  background-color: blue;
}

@media only screen and (max-width: 800px){
  .title {
    font-size: 60px;
    width: 100%;
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .main {
    width: 100%;
    align-items: center;
  }
  .wallet {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
  }
  .field {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .input {
    width: 90%;
    margin: 0px;
    margin-bottom: 20px;
  }
  .button {
    position:relative;
    right: 0px;
  }
  .nft {
    margin: 16px;
  }
}